// custom scss for the platform custom stuffs

// variable decleared
$primary-color:#31343f;
$alternate-color:#494949;
$bluebutton-edge:#5A74f5;
$bluebutton:#4799EC;
$redbutton-edge:#D41a1a;
$redbutton:#ff6666;
$base-color:#F4F7F6;
$latoFont:"Lato",sans-serif;
$green-base:#26C281;
$green-base-dark:#22AF74;
$green-base-darker:#1f8a5e;

// font sizes sections
$small-text:1em;
$medium-text:2em;
$large-text:3em;
$medium-text--medium:1.7em;

//

// following bem here
.header{
  background: $green-base-dark;
  border-bottom: 2px solid $green-base-dark;
  width: 100%;
  padding:15px;
  color: $base-color
}

.header--title{
  font-size: $medium-text;
}

.header--subsec{
  float: right;
  padding:5px;
  width: 100%;
}

.header--search{
  float: right;
}

.header--search-text{
  padding:15px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
  width: 500px;
  transition: 0.3s ease 0.3s;
}

.header--search-text:hover{
  background: #202020;
}

.header--search-text:focus{
  background: #202020;
}

.header--search-label{
  position:relative;
  padding:14px 15px;
  right:-8px;
  border:2px solid $green-base-darker;
  background-color:$green-base-darker;
  color:#fafafa;
}



.header--user{
  float:right;
  font-family: $latoFont;
  margin:0px 2em 0em 2em;
}

.header--user-icon{
  width: 3em;
  height:3em;
}


.login{
  width: 454px;
  margin:auto;
  padding:15px;
  margin-top:40px;
}

.login--inputgroup{
  width:100%;
  margin-top:10px;
}

.login--image{
  width: 100px;
}

.login--label{
  padding:5px;
  background:$primary-color;
  color:$base-color;
  margin: -5px;
  width:40%;
  font-family: $latoFont;
  border:0px
}

.login--label-left{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.login--input{
  padding:5px;
  background: $base-color;
  color: $base-color;
  margin: 0px;
  width: 70%;
  font-family: $latoFont;
  border:1px;
}

.heading--title{
  width: 45%;
  margin:auto;
  font-size: 3rem;
}

.section{
  margin: 1rem 3px 1rem;
}

.button--wide{
  width:100%;
  padding:10px;
  font-family: "Lato",sans-serif;
}

.button--wide-blue{
  background: $bluebutton;
  border-bottom: 3px solid $bluebutton-edge
}

.button--wide-red{
  background: $redbutton;
  border-bottom: 3px solid $redbutton-edge;
  transition: 0.2s ease 0.2s;
}

.button--wide-red:hover{
  background: $redbutton-edge;
  border-bottom: 3px solid $redbutton-edge
}

// card components
.card--bem{
  font-family: $latoFont;
  margin: 5px;
}

.card--bem-green{
  background: $green-base;
  color: #ffffff;
}

.card--bem-wide{
  width:100%;
  margin: 16px;
}

.quorate__container{
  max-width: 92%;
  margin: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.profile-image--block{
  padding:30px;
  align-items: center;
}

.profile-image--img{
  border-radius: 50%
}

.profile-image-central{
  width:5em;
  margin: auto;
}

.profile-info--title{
  color: $alternate-color;
  font-family: $latoFont;
  font-size:$medium-text--medium;
  margin: auto;
  width:80%;
  text-align: center;
  padding: 15px;
}

.profile-info--description{
  color: $alternate-color;
  font-family: $latoFont;
  font-size:$small-text;
  margin: auto;
  width:80%;
  padding:25px;
  border-top: 1px solid #ededed;
  text-align: center;
}

.profile-info--communities{
  color: $alternate-color;
  font-family: $latoFont;
  margin: auto;
  width:80%;
  padding:25px;
  border-top: 1px solid #ededed;
  text-align: center;
  margin-bottom: 1em;
}

// the questions and topics start here
.topic{
  font-size: $medium-text--medium;
  font-family: $latoFont;
  color: $alternate-color;
  padding: 15px;
}

.description{
  font-size: $small-text;
  font-family: $latoFont;
  color: $alternate-color;
  padding: 15px;
}

.icon--quest-side{
  padding: 10px;
  margin:1em;
}

.icon--quest{
  padding: 10px;
}

.categories--contain{
  float: right;
}

.categories--quest{
  border: 1px solid #ededed;
  padding: 3px;
  font-size: 0.8em;
  float: left;
  margin: 3px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.card>img, .profile-image--img-wide{
  width:inherit !important;
  height:inherit;
}


// extras for things like plave holders
::-webkit-input-placeholder { /* For WebKit browsers */
    color:    $base-color;
                font-family:$latoFont;
                font-weight:bold;
}
:-moz-placeholder { /* For Mozilla Firefox 4 to 18 */
    color:    $base-color;
                font-family:$latoFont;;
                font-weight:bold;
}
::-moz-placeholder { /* For Mozilla Firefox 19+ */
    color:   $base-color;
                font-family:$latoFont;
                font-weight:bold;
}
:-ms-input-placeholder { /* For Internet Explorer 10+ */
    color:    $base-color;
                font-family:$latoFont;
                font-weight:bold;
}
// end of the bem guys

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Lato';
}

.simform {
	position: relative;
	margin: 0 auto;
	padding: 2em 0;
	max-width: 860px;
	width: 100%;
	text-align: left;
	font-size: 2.5em;
}

.simform .submit {
	display: none;
}

/* Question list style */
.simform ol {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	-webkit-transition: height 0.4s;
	transition: height 0.4s;
}

.simform ol:before {
	content: '';
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.35em;
}

.questions li {
	z-index: 100;
	position: relative;
	visibility: hidden;
	height: 0;
	-webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
	transition: visibility 0s 0.4s, height 0s 0.4s;
}

.questions li.current,
.no-js .questions li {
	visibility: visible;
	height: auto;
	-webkit-transition: none;
	transition: none;
}

/* Labels */
.questions li > span {
	display: block;
	overflow: hidden;
}

.questions li > span label {
	display: block;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.questions li.current > span label,
.no-js .questions li > span label {
	-webkit-transition: none;
	transition: none;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.show-next .questions li.current > span label {
	-webkit-animation: moveUpFromDown 0.4s both;
	animation: moveUpFromDown 0.4s both;
}

@-webkit-keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

/* Input field */
.questions input {
	display: block;
	margin: 0.3em 0 0 0;
	padding: 0.5em 1em 0.5em 0.7em;
	width: calc(100% - 2em);
	border: none;
	background: transparent;
	color: rgba(0,0,0,0.8);
	font-size: 1em;
	line-height: 1;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.questions .current input,
.no-js .questions input {
	opacity: 1;
}

.questions input:focus,
.simform button:focus {
	outline: none;
}

/* Next question button */
.next {
	position: absolute;
	right: 0;
	bottom: 2.15em; /* padding-bottom of form plus progress bar height */
	display: block;
	padding: 0;
	width: 2em;
	height: 2em;
	border: none;
	background: none;
	color: rgba(0,0,0,0.4);
	text-align: center;
	opacity: 0;
	z-index: 100;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-20%);
	transform: translateX(-20%);
	pointer-events: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.next:hover {
	color: rgba(0,0,0,0.5);
}

.next::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "\e600";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 2;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.next.show {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	pointer-events: auto;
}

/* Progress bar */
.simform .progress {
	width: 0%;
	height: 0.15em;
	background: rgba(0,0,0,0.3);
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.simform .progress::before {
	position: absolute;
	top: auto;
	width: 100%;
	height: inherit;
	background: rgba(0,0,0,0.05);
	content: '';
}

/* Number indicator */
.simform .number {
	position: absolute;
	right: 0;
	overflow: hidden;
	margin: 0.4em 0;
	width: 3em;
	font-weight: 700;
	font-size: 0.4em;
}

.simform .number:after {
	position: absolute;
	left: 50%;
	content: '/';
	opacity: 0.4;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.simform .number span {
	float: right;
	width: 40%;
	text-align: center;
}

.simform .number .number-current {
	float: left;
}

.simform .number-next {
	position: absolute;
	left: 0;
}

.simform.show-next .number-current {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.simform.show-next .number-next {
	-webkit-animation: moveUpFromDown 0.4s both;
	animation: moveUpFromDown 0.4s both;
}

/* Error and final message */
.simform .error-message,
.simform .final-message {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.simform .error-message {
	padding: 0.4em 3.5em 0 0;
	width: 100%;
	color: rgba(0,0,0,0.7);
	font-style: italic;
	font-size: 0.4em;
}

.final-message {
	top: 50%;
	left: 0;
	padding: 0.5em;
	width: 100%;
	text-align: center;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.error-message.show,
.final-message.show {
	visibility: visible;
	opacity: 1;
}

.final-message.show {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

/* Final hiding of form / showing message */
.simform-inner.hide {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

/* No JS Fallback */
.no-js .simform {
	font-size: 1.75em;
}

.no-js .questions li {
	padding: 0 0 2em;
}

.no-js .simform .submit {
	display: block;
	float: right;
	padding: 10px 20px;
	border: none;
	background: rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.4);
}

.no-js .simform .controls {
	display: none;
}

/* Remove IE clear cross */
input[type=text]::-ms-clear {
    display: none;
}

/* Adjust form for smaller screens */
@media screen and (max-width: 44.75em) {
	.simform {
		font-size: 1.8em;
	}
}

@media screen and (max-width: 33.5625em) {
	.simform {
		font-size: 1.2em;
	}
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: $base-color;
	color: rgba(0,0,0,0.45);
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: rgba(0,0,0,0.25);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: rgba(0,0,0,0.6);
}

.codrops-header {
	margin: 0 auto;
	padding: 3em 1em;
	text-align: center;
	color: rgba(0,0,0,0.35);
}

.codrops-header h1 {
	margin: 0;
	font-weight: 400;
	font-size: 2.5em;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 0.7;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.section {
	padding: 0em 2em 1em;
	text-align: center;
}

section.related {
	padding: 1em 1em 1em;
	color: rgba(0,0,0,0.4);
	font-size: 1.5em;
}

.related > a {
	max-width: 80%;
	border: 2px solid rgba(0,0,0,0.3);
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
}

.related a:hover {
	border-color: rgba(0,0,0,0.6);
}

.related a img {
	max-width: 100%;
	opacity: 0.4;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	font-weight: 400;
	font-size: 0.75em;
	text-align: left;
}

@media screen and (max-width: 44.75em) {
	section { padding: 1em 2em; }
}

@media screen and (max-width: 25em) {
	.codrops-header { font-size: 0.8em; }
	section.related { font-size: 1.2em; }
	.codrops-icon span { display: none; }
}
